extends layout.pug 

block head  
    link(rel="stylesheet", href="style.css")
    script(src="script.js")

block content
    h1 Welcome to the Restaurant
    p This is a simple restaurant website built with Node.js and Pug.
    p We serve delicious food and drinks.
    p Visit us for a great dining experience!
    p For more information, contact us at