extends layout.pug 

block scripts 
    script(src='/static/index.js')  

block style
    link(rel='stylesheet', href='/static/home.css')
block content 
        section#home 
                 img(src="static\\images\\h-1.jpg", alt="lol")
                 h1 Welcome to Dance_Pro
                 p   
                     | Dance_Pro is a dance studio that offers a variety of dance classes for all ages and       skill levels. 
                     | Our classes include ballet, tap, jazz, hip-hop, and more.
        section#mission 
                h2 Our Mission
                .mew 
                  .card  
                      h3  Dance perfection
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, asperiores   reprehenderit ducimus saepe accusamus iste quas voluptates perspiciatis!
                  .card  
                      h3  Diverse Styles
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque natus iusto sit,   at placeat pariatur dolor dolorum veniam quia blanditiis?
                  .card  
                      h3  Expert Instructors 
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, ut. Harum dolore   sed obcaecati, fugit totam repellat explicabo laboriosam veritatis?
        section#sponsor 
            h2  Our Sponsors
            .sponsor 
                img(src="static\\images\\client2.png", alt="lol")
                img(src="static\\images\\spotify.png", alt="lol")
                img(src="static\\images\\Tesla_logo.png", alt="lol")
                img(src="static\\images\\Zomato_logo.png", alt="lol")      