doctype html
html
  head
    title Dance_pro
    link(rel="stylesheet", href="style.css")
    block scripts
    block style 
  body
    nav#navbar.top 
            #logo 
                img(src="/static/images/logo1.webp" alt="Logo of Dance_Pro")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li 
                    a(href="/services") Services
                li 
                    a(href="/classinfo") Class-Info
                li
                    a(href="/contact-us") Contact-us
    block content
    section#footer
          .first 
            h3 Dance_Pro
            ul 
                li 
                    a(href="/") About 
                li 
                    a(href="/about") Help Center 
                li 
                    a(href="/services") Terms of use 
                li 
                    a(href="/classinfo") Cookies 
                li 
                    a(href="/contact-us") Privacy Policy
          .second 
            h3 Navigation 
            ul 
                li 
                    a(href="/") Home 
                li 
                    a(href="/about") About 
                li 
                    a(href="/services") Services 
                li 
                    a(href="/classinfo") Class-Info 
                li 
                    a(href="/contact-us") Contact-us
          .third
            h3 Connect with us
            ul 
                li 
                    a(href="/") Facebook 
                li 
                    a(href="/") Instagram 
                li 
                    a(href="www.twitter.com") Twitter 
                li 
                    a(href="/classinfo") LinkedIn 
                li 
                    a(href="/contact-us") YouTube
    section#footer2
        p © 2023 Dance_Pro. All rights reserved.  