doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restaurant
        block style  
        block script

    body 
        section#navbar 
            h1 Restaurant
            ul
                li: a(href="/") Home
                li: a(href="/menu") Menu
                li: a(href="/about") About Us
                li: a(href="/contact") Contact Us