@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
#logo{
    padding-bottom: 20px;
}
#logo img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    float: left;
    margin: 20px;
}
#navbar{
    font-family: "Tektur", sans-serif;
    background-color: rgb(33, 30, 30);
    color: rgb(255, 255, 255);
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}
#navbar li a:hover{
    font-weight: bold;
    color: rgb(69, 47, 105);
}
/* Home */
#home img{
    float: left;
    width: 300px;
    height: 398px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
}
#home h1{
    font-family: "Tektur", sans-serif;
    font-size: 2rem;
    padding-bottom: 26px;
    padding-top: 155px;
}
p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    margin-left: 20px ;
    margin-right: 20px ;
}
#home{
    margin-top: 2px;
    height: 500px;
    background-color: rgb(13 13 15);
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
}
/* Our sponsors */
#sponsor{
    height: 470px;
    background-color: rgb(13 13 15);
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 2px;
}
#sponsor h2{
    padding-top: 50px;
}
#sponsor img{
    height: 100px;
    width: 100px;
    margin: 60px;
}
.sponsor{
    background-color: aliceblue;
    border-radius: 90px;
    border: 2px solid rgb(121, 29, 29);
    margin-top: 80px;
}
/* Mission */
#mission{
    margin-top: 2px;
    height: 540px;
    background-color: rgb(13 13 15);
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
#mission h2{
    padding-top: 50px;
    padding-bottom: 30px;
}
.mew{
    display: flex;
}
.card{
    flex-direction: row;
    /* display: inline-block; */
    justify-content: center;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
    /* width: 24%; */
    margin: 5px 10px;
    border: 2px solid rgb(255, 255, 255);
    height: 350px;
    margin-bottom: 60px;
    
}
.card h3{
    text-align: center;
    padding-bottom: 10px;

}
/* Footer */
#footer{
    margin-top: 2px;
    display: flex;
    height: 340px;
    background-color: rgb(13 13 15);
    color: white;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
}
#footer h3{
    font-size: 1.5rem;
    padding-bottom: 26px;
    padding-top: 30px;
    text-align: center;
}
#footer ul{
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    list-style: none;

}
#footer ul li{
    text-align: center;
}
#footer li a{
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-decoration: none;
    
}
#footer li a:hover{
    color: rgb(69, 47, 105);
}
.first{
    align-items: center;
    margin: 30px auto;
}
.second{
    align-items: center;
    margin: 30px auto;
}
.third{
    align-items: center;
    margin: 30px auto;
}
#footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(13 13 15);
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.2rem;
}
/* Media Queries */